html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-width: 640px;
  width: 100%;
  max-height: 107px;
  height: 100%;
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #052453;
}

#logo-bottom {
  position: absolute;
  width: calc((178 / 640) * 100%);
  height: calc((92.84 / 107) * 100%);
  left: calc((41 / 640) * 100%);
  top: calc((7 / 107) * 100%);
}
#cta-bottom {
  position: absolute;
  width: calc((340 / 640) * 100%);
  height: calc((63 / 107) * 100%);
  left: calc((270 / 640) * 100%);
  top: calc((22 / 107) * 100%);
  image-rendering: smooth;
  animation: pulsate 4s ease-in-out infinite normal both;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}
