html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}

/* wrapper */
.container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.slider-container {
  overflow: hidden;
  background: rgb(202, 175, 179);
  height: 100%;
  cursor: default;
}
.slider-track {
  display: flex;
  background: rgb(198, 198, 144);
  transition: 0.3s;
  height: 100%;
}

.slider-item {
  height: 100%;
  background: #fff;
  position: relative;
  color: #fff;
}
/* slide elements */
.slide-logo {
  width: 278px;
  position: absolute;
  left: 36.4px;
  top: 16px;
}
.slide-discount {
  width: 188px;
  position: absolute;
  right: -27.56px;
  top: -76.4px;
}

.slide-heading {
  width: 352px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 144px;
}

.slide-image {
  width: 325.2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 35.8%;
}

.slide-cta {
  width: 235px;
  position: absolute;
  left: calc(50% + 0.4px);
  transform: translateX(-50%);
  bottom: 38px;
  image-rendering: smooth;
  /* animation: pulsate 4s ease-in-out infinite normal both; */
}
/* END slide elements */
.slider-item:nth-of-type(1) {
  background: #052453;
}
.slider-item:nth-of-type(2) {
  background: #052453;
}

.slider-item:nth-of-type(2) .slide-heading {
  width: 423px;
}

.slider-item:nth-of-type(3) {
  background: #5c000b;
}

.slider-item:nth-of-type(4) {
  background: #052453;
}
.slider-item:nth-of-type(4) .slide-heading {
  width: 336px;
  top: 158px;
}

/* slider buttons */
.btn-prev-slide {
  width: 40px;
  height: 40px;
  background: #b3b3b3;
  position: absolute;
  left: 13.6px;
  top: 57%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn-next-slide {
  width: 40px;
  height: 40px;
  background: #b3b3b3;
  position: absolute;
  right: 9.2px;
  top: 57.12%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn-prev-slide img,
.btn-next-slide img {
  height: 25.2px;
}

.btn-prev-slide:disabled,
.btn-next-slide:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
/* END slider buttons */

@keyframes pulsate {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.08);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}
